$primary: #3C1053;
$secondary: #9d5baf;
$warning: #b75e00;
$color_texto_oscuro: black;
$color_fondo: #f3f2f1;
$link-color: #1d7bbf; //call to action

$Color_F_Claro: #F3F2F1;
$Color_Acc_ClaroINFORMATION: #84329B;
$font-family-sans-serif: 'MyFont', Arial, sans-serif;
$color_error: #D4351C;
$color_texto: #FFFFFF;
$color_txt_botones: rgb(60, 16, 83);
$font-weight_enlace: bold;

//example

@import "../../node_modules/bootstrap/scss/bootstrap";

.img-logo {
  height: 90px;
  width: 90px;
  margin: 5px;
  transition: all 0.5s;
}

.img-logo:hover {
  transform: scale(1.1);
}

#btnProfile {
  height: 60px;
  width: 60px;
  margin: 3px;
  transition: all 0.5s;
}

#btnProfile:hover {
  transform: scale(1.1);
  color: black;
}

#menu-button {
  height: 60px;
  width: 60px;
  margin: 5px;
  transition: all 0.5s;
}

.profile-menu-container {
  position: relative;
  /* importante para que el menú se posicione relativo al icono */
  display: inline-block;
}

.profile-menu {
  display: flex;
  /* oculto por defecto */
  flex-direction: column;
  /* los enlaces en columna */
  position: absolute;
  /* se “despliega” sobre otros elementos */
  top: 100%;
  /* justo debajo del icono */
  right: 0;
  /* alineado a la derecha del contenedor */
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);  
  width: 22vh;
  font-size: 15px;
}
@media (min-width: 1600px) {
  .profile-menu {
    width: 26vh;
  }
}

.profile-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.profile-menu a:hover {
  background-color: #f0f0f0;
}


.nav .nav-item a.nav-link.active {
  color: #fff !important;
}

.sidebar.expanded {
  width: 190px;
}

.sidebar .nav-link span,
.sidebar .nav-link,
.sidebar .nav-item span {
  display: none;
}

.sidebar.sidebar.expanded .nav-item span,
.sidebar.expanded .nav-link span,
.sidebar .nav-link a {
  display: inline;
}

.sidebar .nav-link {
  // display: flex;
  display: none;
  align-items: center;
  justify-content: center;
}

.sidebar.expanded .nav-link {
  //to change
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 60px !important;
    z-index: 999;
  }

  .sidebar .nav {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .sidebar .nav-link span {
    display: none !important;
  }

  .border-top {
    border-top: unset !important;
  }

  .border-bottom {
    border-bottom: unset !important;
  }

  #toggleSidebar {
    display: none !important;
  }

  .nav .nav-item a.nav-link.active {
    color: #0d6efd !important;
    background: none;
    border-bottom: 4px solid #0d6efd !important;
    padding-bottom: 16px !important;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
  color: $primary;
}
a {
    color: $link-color !important;
    font-weight: bold;
}